{% extends 'base.html.twig' %}

{% block body %}
    <h1>Derniers utilisateurs inscrits</h1>

    <table>
        <thead>
            <tr>
                <th>Mail</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Password</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Id</th>
                <th>Ville</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.mail }}</a></td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.id }}</td>
                <td><a href="{{ path('ville_show', { 'id': utilisateur.idVille.id }) }}">{{ utilisateur.idVille }}</a></td>
                <td><a href="{{ path('categorie_show', { 'id': utilisateur.idCategorie.id }) }}">{{ utilisateur.idCategorie.categorie }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Derniers trajets</h1>

    <table>
        <thead>
            <tr>
                <th>Datedepart</th>
                <th>Heuredepart</th>
                <th>Nbplace</th>
                <th>Duree</th>
                <th>Commentaire</th>
                <th>Nbkm</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trajet in trajets %}
            <tr>
                <td><a href="{{ path('trajet_show', { 'id': trajet.id }) }}">{{ trajet.dateDepart|date('Y-m-d') }}</a></td>
                <td>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i:s') }}{% endif %}</td>
                <td>{{ trajet.nbPlace }}</td>
                <td>{{ trajet.duree }}</td>
                <td>{{ trajet.commentaire }}</td>
                <td>{{ trajet.nbKm }}</td>
                <td>{{ trajet.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trajet_show', { 'id': trajet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trajet_edit', { 'id': trajet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>kg de Co2 économisés dans les 30 derniers jours : {{Co2}}</h2>
    

    
{% endblock %}
