{% extends 'base.html.twig' %}

{% block body %}
    <h1>Covoiturage</h1>

    <table>
        <tbody>
            <tr>
                <th>Created</th>
                <td>{% if covoiturage.created %}{{ covoiturage.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if covoiturage.updated %}{{ covoiturage.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ covoiturage.idUtilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Type covoit</th>
                <td>{{ covoiturage.idTypeCovoit.type }}</td>
            </tr>
            <tr>
                <th>Co2</th>
                <td>{{ covoiturage.idCo2.valCo2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('covoiturage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('covoiturage_edit', { 'id': covoiturage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
