{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trajet</h1>

    <table>
        <tbody>
            <tr>
                <th>Datedepart</th>
                <td>{% if trajet.dateDepart %}{{ trajet.dateDepart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredepart</th>
                <td>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbplace</th>
                <td>{{ trajet.nbPlace }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ trajet.duree }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ trajet.commentaire }}</td>
            </tr>
            <tr>
                <th>Nbkm</th>
                <td>{{ trajet.nbKm }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>Ville depart</th>
                <td>{{ trajet.idVille.ville }}</td>
            </tr>
            <tr>
                <th>Ville arrivee</th>
                <td>{{ trajet.idVilleVilleArrivee.ville }}</td>
            </tr>
            <tr>
                <th>Type trajet</th>
                <td>{{ trajet.idTypeTrajet.typeTrajet }}</td>
            </tr>
            <tr>
                <th>Voiture utilisée</th>
                <td>{{ trajet.idPossede.immatriculation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trajet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trajet_edit', { 'id': trajet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
